soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4c8e066d-2be9-4fd0-9a1b-643f3e8ebc15" >
		<http:listener-connection host="localhost" port="9849" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="5a975875-d21e-457d-80e6-90685edc78be" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="86395107-d994-4c1d-a425-87c70c8b8199" >
		<http:listener-connection host="localhost" port="8088" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="661a039c-15f3-4e65-ba50-67984d40bd44" >
		<http:listener-connection host="0.0.0.0" port="8099" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config1" doc:name="Web Service Consumer Config" doc:id="6a9863cc-0ebe-42f8-9168-b4ae551557ff" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config3" doc:name="HTTP Listener config" doc:id="3c642d4a-98f5-4d58-8116-d9ed3b405bc0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="soapFlow" doc:id="0f5296e9-b3e5-4c9b-a84b-0461e38568c8" >
		<http:listener doc:name="Listener" doc:id="7600cdc0-1232-4db6-84c9-4980c787e07b" path="/soapsubtract" config-ref="HTTP_Listener_config3"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="e8bc6f47-967a-4dec-a70b-9a8e8e64aea8" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="7696d13e-5dba-4e53-b894-d50f43acd23d" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="91786a4c-819e-4507-9c54-c85bd9a31751" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://tempuri.org/
---
{
	ns0#add: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:id="7e278478-28e1-4eca-96b0-e8f453db2562" config-ref="Web_Service_Consumer_Config1" operation="Add"/>
		<ee:transform doc:name="Transform Message" doc:id="24f2c90d-555d-41d1-a839-59ce50aeaeec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
